.vlist-container-apply {
  height: 100vh;
  overflow-y: auto;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  position: relative;
}

.vlist-container-apply::-webkit-scrollbar {
  /* display: none; */
}

.vlist-placeholder-apply {
  height: 300px;
  border: 2px solid gray;
  position: relative;
  box-sizing: border-box;
}

.vlist-placeholder-text-apply {
  font-size: 25px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail-list-container-apply {
  display: flex;
}

.detail-list-side-apply {
  flex: none;
  width: 65px;
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: sticky;
  top: 0;
}

.detail-list-side-apply::-webkit-scrollbar {
  display: none;
}

.detail-list-side-apply .adm-side-bar {
  width: 100%;
  font-size: 10px;
}

.detail-list-side-apply .adm-side-bar-item-highlight {
  display: none;
}

.detail-list-main-apply {
  flex: auto;
  padding: 0 10px 0;
}

.detail-list-title-apply {
  display: block;
  font-size: 12px;

  position: sticky;
  top: 0px;
  background-color: white;
  padding: 15px 0 10px;
  z-index: 10;
  box-sizing: border-box;
  height: 41px;
}

.vlist-part-container {
  width: calc(100vw - 85px);
}
